/* MEDIA QUERY FOR 980px */
@media screen and (max-width: 980px) {
  header h1 {
    font-size: 45px;
    justify-content: center;
    padding: 5%;
    width: 80%;
  }

  .highlighted-content article {
    padding-top: 60px;
    font-size: 30px;
    color: var(--tertiary-color);
  }

  .highlighted-content img {
    height: 400px;
  }
}

/* MEDIA QUERY FOR 768px */
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 45px;
    justify-content: center;
    padding: 5%;
    width: 80%;
  }

  .highlighted-content article {
    padding-top: 80px;
    font-size: 30px;
    color: var(--tertiary-color);
  }

  .highlighted-content img {
    height: 300px;
  }

  .about {
    display: block;
  }

  .about img {
    margin: 10px 25%;
  }

  .about h2 {
    font-size: 30px;
  }
}

/* MEDIA QUERY FOR 575px */
@media screen and (max-width: 575px) {
  header h1 {
    font-size: 35px;
    justify-content: center;
    padding: 5%;
    width: 80%;
  }

  h2 {
    font-size: 35px;
  }

  .highlighted-content article {
    padding-top: 80px;
    font-size: 30px;
    color: var(--tertiary-color);
  }

  .highlighted-content img {
    height: 300px;
  }

  .about {
    padding: 0px;
    margin: 10%;
    width: 80%;
    display: block;
  }

  .about h2 {
    font-size: 30px;
  }

  .about img {
    height: 200px;
    margin: 10px 25%;
  }
}
