* {
  box-sizing: border-box;
  font-family: "Inconsolata", serif;
}

/* Utilities */
:root {
  --white-text: #cfcfcf;
  --white-bg-fill: rgba(250, 250, 250, 0.15);
  --primary-color: #7289da;
  --secondary-color: #b1bbec;
  --tertiary-color: #0097a7;
}

p {
  font-size: 20px;
  color: white;
}

section {
  min-height: 100vh;
  padding-bottom: 200px;
}

h2 {
  text-align: center;
  font-size: 25px;
  /* color: #99aab5; */
 color: var(--primary-color);
}

h3 {
  text-align: center;
  color: white;
}

.contact_icons {
  color: white;
}

/* Begin styles to Nav */
nav {
  position: sticky; top: 10px; z-index: 7
}

nav p {
  margin-left: 10px;
  color: var(--tertiary-color)
}
/* Begin styles to Welcome */
.welcome {
  margin-top: 200px
}

.welcome h1 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
}

.welcome p {
  color: white
}

.welcome hr {
  border-top: 1px solid #99aab5; width: 50%; margin-left: 25%
}

/* Begin styles to Project Cards*/
.project_head {
text-align: center;
color: white;
}

.project_card {
  color: white;
  border: 1px solid #595959;
}

.project_icon {
margin-top: 15px;
transition: all 0.2s ease-in-out;
}

.project_icon:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.project_description {
  margin-top: 40px;
}

.project_tools_container {
 margin-top: 50px;
}

.project_tools{
  font-size: 15px;
}

.contact_email {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  color: var(--secondary-color);
  background-color: #f3f3f3ff;
  border: 1px solid var(--secondary-color);
  border-radius: 10%;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.contact_email:hover {
  color: #f3f3f3ff;
  background-color: var(--secondary-color);
}


/* header h2 {
  font-size: 50px;
  color: var(--primary-color);
  text-align: right;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Mono", monospace;
}

header p {
  width: 100%;
  font-size: 30px;
  color: var(--secondary-color);
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Mono", monospace;
}

.hero_text {
  width: 50%;
  margin: auto;
} */

/* BEGIN STYLES TO NAV */
/* nav {
  margin-top: 50px;
  margin-bottom: 200px;
  margin-right: 50px;
}

header nav li {
  display: inline;
  justify-content: space-between;
}

#resume {
  background-color: #f3f3f3ff;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10%;
}

#resume:hover {
  color: #f3f3f3ff;
  background-color: var(--secondary-color);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 25px;
  padding: 10px;
} */

/* BEGIN STYLES TO PROJECTS */
/* .featured {
  margin-left: 10%;
}

.projectList h2 {
  margin-left: 30%;
} */

/* BEGIN STYLES TO ABOUT ME */

/* .about {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.about h2 {
  margin-left: 60%;
  width: 100%;
}

.about div {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 80%;
  margin-bottom: 10%;
}

.about p {
  width: 50%;
  margin-left: 40px;
  font-size: 25px;
}

.about img {
  height: 300px;
  margin: 10px;
} */

/* BEGIN STYLES TO CONTACT */
/* .contact_container h2 {
text-align: center;
}

.contact_text {
  text-align: center;
  padding: 0px;
  margin-top: 50px;
  width: 50%;
  margin-left: 25%;
}

.contact_container h3 {
  font-size: 60px;
  color: var(--primary-color);
  font-family: "Roboto Mono", monospace;
}

.contact_container p {
  font-size: 25px;
} */



/* .contact_icons_container {
  margin-top: 70px;
  margin-bottom: 0px;
  margin-left: 10%;
  width: 80%;
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
  
}

.contact_icons {
  padding: 15px;
}

.contact_icons p {
  font-size: 15px;
  text-align: center;
}

.contact_icons i {
  color: #293342
}  */