* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* BEGIN STYLES TO HEADER */
header {
  padding: 50px;
  display: flex;
  color: rgb(27, 27, 70);
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-size: 50px;
  display: inline-block;
  padding-left: 100px;
}

header nav {
  font-size: 25px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header a {
  text-decoration: none;
  color: black;
  margin: 0px 30px;
}

/* BEGIN STYLES TO PROJECTS */

.my-work {
  background-image: url(/Assets/images/Asset\ 2-100.jpg);
  height: 700px;
  width: 100%;
  background-size: cover;
}

h2 {
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgb(54, 52, 52);
}

.content {
  padding: 10%;
}

.content img {
  height: 300px;
}

article {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 5px rgb(54, 52, 52);
}
/* BEGIN STYLES TO ABOUT ME */
.my-info h2 {
  color: rgb(27, 27, 70);
}
p {
  font-size: 20px;
}
/* BEGIN STYLES TO FOOTER */

footer {
  display: flex;
  padding: 5%;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  height: 65px;
}
